.category-container-global {
    display: flex;
    flex-direction: column;
    padding: 50px 50px 70px 50px;
    height: auto;
    width: 100%;
}

.category-header-container {
    display: flex;
    padding: 30px 0;
}

.category-img {
    width: 145px;
    height: 195px;
}

.category-header-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    gap: 10px;
    text-align: left;
}

.category-viewers {
    font-size: 14.5px;
    padding: 5px 0 15px 0;
}

.follow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
    flex-direction: row;
    background-color: #9147ff;
    width: fit-content;
    padding: 8px 11px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.follow-button p {
    margin-left: 16px;
    font-weight: 500;
    font-size: 13px;
    font-family: 'roboto', sans-serif;
}

.heart-logo-container {
    position: relative;
    bottom: 8px;
}

.heart-logo {
    position: absolute;
}

.heart-empty {
    transition: all 0.2s ease-in-out;
}

.heart-full {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    width: 0;
}

.follow-button img {
    width: 15px;
}

.follow-button:hover {
    background-color: #772ce8;
}

.follow-button:hover .heart-full {
    opacity: 1;
    transform: scale(1.2);
    margin-top: 1px;
}

.follow-button:hover .heart-empty {
    transform: scale(1.3);
}

.category-stream-title {
    text-align: left;
    font-weight: 500;
    margin-bottom: 20px;
}

.noStreamFound {
    text-align: left;
    font-size: 23px;
    font-weight: 500;
}

.stream-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    grid-gap: 10px;
}



/* --------- MEDIA QUEIRES --------- */

@media screen and (max-width: 1200px) {
    .category-container-global {
        margin-left: 0;
        padding: 50px 20px 100px 80px;
    }

    .stream-container {
        margin-right: 0;
    }
}

@media screen and (max-width: 1024px) {
    .category-container-global {
        margin-left: 0;
        padding: 50px 20px 100px 40px;
    }

}

@media screen and (max-width: 768px) {
    .category-container-global {
        margin-left: 0;
        padding: 50px 20px 100px 20px;
    }

    .category-stream-title {
        display: flex;
        justify-content: center;
    }

    .stream-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .category-stream-title {
        margin: 0;
    }

}

