.landingContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    /* padding: 55px 50px 80px 50px; */
}

.flexAccueil {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
    padding: 0 50px 60px 50px;
}

.streamContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    grid-gap: 10px;
    height: 100%;
}

.gamesTitleContainer {
    margin-bottom: 10px;
}

.gamesTitle {
    display: flex;
    justify-content: flex-start;
    color: #000;
    font-weight: 500;
    font-size: 18.5px; 
}

.darkGamesTitle {
    display: flex;
    justify-content: flex-start;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18.5px; 
}

.titleChannel {
    color: #5c16c5;
    cursor: pointer;
}
.titleChannel:hover {
    color: #7833e0;
    border-bottom: 1px solid #7833e0;
    height: 19px;
}

.darkTitleChannel {
    color: #bf94ff;
    cursor: pointer;
}
.darkTitleChannel:hover {
    color: #a86efd;
    border-bottom: 1px solid #a86efd;
    height: 19px;
}

.carteGames {
    width: 305px;
}

.imgCarte {
    position: relative;
    cursor: pointer;
}
.imgCarte:hover {
    position: relative;
}
.carteBackground {
    height: 175px;
    background-color: #9146FF;
}

.carteContainer {
    position: relative;
    height: 200px;
    transition: all 0.2s;
}

.carteContainer:hover {
    transform: translateY(-5px) translateX(5px);
}


.liveCarte {
    position: absolute;
    z-index: 2;
    background: rgb(233, 8, 8);
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    padding: 2px 5px;
    top: 10px;
    left: 10px;
    font-weight: 600;
}


.carteBodyGames {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    padding: 8px 0 10px 0;
    position: relative;
}

.userStreamInfos {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
    gap: 5px;
}

.userStreamContainer {
    display: flex;
    flex-direction: row;
}

.userStreamContainer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

.titleLink {
    display: flex;
    width: 16em;
    overflow: hidden;
}

.darkTitleLink {
    display: flex;
    width: 18.5em;
    overflow: hidden;
    color: #706f72;
}

.titreCarteGames {
    text-align: left;
    color: #000;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.titreCarteGames:hover {
    color: #7b31eb;
}

.darkTitreCarteGames {
    text-align: left;
    color: #ebe5e5;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.darkTitreCarteGames:hover {
    color: #a467ff;
}

/* TOOLTIP TITLE STREAM */

.titreCarteGames:after {
    visibility: hidden;
    content: attr(data-text);
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    font-size: 11px;
    font-weight: 100;
    background-color: rgb(65, 65, 65);
    color: rgb(230, 230, 230);
    border: 1px solid rgb(230, 230, 230);
    top: 40px;
    left: 50px;
    width: 0;
    /* position: absolute; */
}

.titreCarteGames:hover:after {
    -webkit-transition: all 0.2s 0.5s;
    transition: all 0.2s 0.5s;
    visibility: visible;
    z-index: 99;
    width: fit-content;
}

.darkTitreCarteGames:after {
    visibility: hidden;
    content: attr(data-text);
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    font-size: 11px;
    font-weight: 100;
    background-color: rgb(65, 65, 65);
    color: rgb(230, 230, 230);
    border: 1px solid rgb(230, 230, 230);
    top: 40px;
    left: 50px;
    width: 0;
    /* position: absolute; */
}

.darkTitreCarteGames:hover:after {
    -webkit-transition: all 0.2s 0.5s;
    transition: all 0.2s 0.5s;
    visibility: visible;
    z-index: 99;
    width: fit-content;
}

/* ------------------------- */

.utilisateurCarteGames {
    font-size: 13px;
    color: rgb(83 83 95);
    cursor: pointer;
}

/* TOOLTIP USER STREAM */

.utilisateurCarteGames:after {
    visibility: hidden;
    content: attr(data-text);
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    font-size: 11px;
    font-weight: 100;
    background-color: rgb(65, 65, 65);
    color: rgb(230, 230, 230);
    border: 1px solid rgb(230, 230, 230);
    top: 60px;
    left: 50px;
    position: absolute;
}

.utilisateurCarteGames:hover:after {
    -webkit-transition: all 0.2s 0.5s;
    transition: all 0.2s 0.5s;
    visibility: visible;
    width: fit-content;
}

/* ------------------------- */

.jeuCarteGames {
    font-size: 13px;
    color: rgb(83 83 95);
    cursor: pointer;
}
.jeuCarteGames:hover {
    color: #a467ff;
}

.darkJeuCarteGames {
    font-size: 13px;
    color: #adadb8;
    cursor: pointer;
}
.darkJeuCarteGames:hover {
    color: #9146FF;
}

.tagsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.tagsCartesGames {
    background-color: #e6e6e9;
    border-radius: 50px;
    padding: 3.5px 10px;
    font-size: 12px;
    font-weight: 500;
    color: #525151;
    cursor: pointer;
    margin-top: 5px;
}
.tagsCartesGames:hover {
    background-color: #e0dfdf;
}

.darkTagsCartesGames {
    background-color: rgba(83,83,95,.38);
    border-radius: 50px;
    padding: 3.5px 10px;
    font-size: 12px;
    font-weight: 500;
    color: #adadb8;
    cursor: pointer;
    margin-top: 5px;
}
.darkTagsCartesGames:hover {
    background-color: rgba(103, 103, 117, 0.38);
}

.viewers {
    position: relative;
    width: fit-content;
    background: #00000099;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    padding: 3px;
    bottom: 35px;
    left: 10px;
}


  /* MEDIA QUERIES */
  /* @media screen and (max-width: 1200px) {
    .landingContainer {
        padding-left: 50px;
        width: 100%;
    }

    .flexAccueil {
        display: flex;
        justify-content: center;
        padding: 0 30px;
    }

    .gamesTitleContainer {
        margin-left: 0;
        justify-content: center;
    } 
  }

  @media screen and (max-width: 768px) {
    .landingContainer {
        padding-left: 50px;
    }

    .gamesTitleContainer {
        margin-left: 0;
        justify-content: center;
    }
  }

  @media screen and (max-width: 480px) {


    .gamesTitle {
        font-size: 15px;
        text-align: left;
        display: block;
    }

    .carteGames {
        transform: scale(0.9);
        margin-bottom: -15px;
    }
  } */


  @media screen and (max-width: 768px) {
    .streamContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .flexAccueil {
        padding: 0 20px 50px 0;
    }

    .gamesTitleContainer {
        display: flex;
        justify-content: center;
    }
  }

  @media screen and (max-width: 480px) {
    .streamContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5px;

    }
    .gamesTitle {
        font-size: 15px;
        text-align: left;
        display: block;
    }

    .carteGames {
        transform: scale(0.8);
        margin-bottom: -50px;
    }

    .gamesTitleContainer {
        margin: 0;
    }
  }