
.headerTop {
    background: #FFF;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 1px 1px 2px rgba(26, 26, 26, 0.2);
  }
  
  .listeMenu {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .liensNav {
    list-style-type: none;
    padding: 0 10px;
  }
  .liensNav:nth-child(3) {
    margin: 0 auto;
    flex-shrink: 1;
    width: 850px;
  }
  .liensNav:nth-child(4) {
    padding: 0 5px 0 5px
  } 
  .liensNav:nth-child(5) {
    padding: 0 5px 0 5px
  } 
  .liensNav:nth-child(6) {
    padding: 0 5px 0 6px
  }
  .liensNav:nth-child(7) {
    padding: 0 10px 0 5px
  }

  .directoryButton {
    font-size: 18.5px;
    font-weight: 500;
    color: #000;
    margin-left: 5px;
    background: none;
  }
  .directoryButton:hover {
    color: #7b31eb;
  }

  .directoryButton.active {
    position: fixed;
    top: 15px;
    padding-bottom: 12px;
    color: #7b31eb;
    border-bottom: 2px solid #7b31eb;   
  }

  .logo {
    margin-top: 10px;
    width: 34px;
    cursor: pointer;
  }
  .logo:hover {
    transform: scale(1.1);
  }
  .formSubmit {
    display: flex;
    justify-content: center;
    margin-left: 175px;
    flex-shrink: 1;
  }

  .formSubmit button:hover {
    background-color: #e6e6e7;
  }

  .searchButton {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px 6px;
    border: none;
    cursor: pointer;
  }

  .notAllowed {
    cursor: not-allowed;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px 6px;
    border: none;
  }

  .logoLoupe {
    width: 22px;
  }

  .inputRecherche {
    width: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 8px;
    border: 0.5px solid #7c7c7c;
    outline: none;
    font-size: 14px;
  }
  .inputRecherche:hover {
    border: 2px solid #7c7c7c;
  }
  .inputRecherche:focus {
    border: 4px solid #7b31eb;
  }
  
  .loginButton,
  .registerButton {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px 6px;
    border: none;
    cursor: pointer;
  }
  
  .menuResBtn {
    display: none;
    position: fixed;
    top: 10px;
    right: 20px;
    color: #000;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .menuIco {
    width: 25px;
  }
  
  .logoUser {
    width: 21px;
    cursor: pointer;
    padding: 5px;
    margin-top: 5px;
  }

  .logoUser:hover {
    background-color: #e9e7e7;
    border-radius: 5px;
  }
  
  .formLogin button{
    background: #f1f1f1;
    padding: 8px 9px;
    border-radius: 3px;
    font-size: 13px;
    color: #000;
    font-weight: 500;
    width: 100px;
    font-family: 'roboto', sans-serif;
  }
  
  .formLogin button:hover {
    background: #e9e7e7;
  }
  
  .formRegister button{
    background: #9146FF;
    padding: 8px 11px;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    font-family: 'roboto', sans-serif;
  }
  .formRegister button:hover {
    background: #7b31eb;
  }


  /* ------------------- Media queries ------------------- */


  @media screen and (max-width: 768px) {

    .liensNav {
      padding: 0 5px;
    }
    .formLogin {
      transform: scale(0.8);

  }
    .formRegister {
        transform: scale(0.8);
    }
}


@media screen and (max-width: 768px) {
  .formSubmit {
    margin-left: 0;
  }

  .liensNav:nth-child(5),
  .liensNav:nth-child(6) {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {

  .directoryButton {
    font-size: 15px;
    margin-left: 0;
  }

  .logoUser {
    display: none;
  }

  .liensNav:nth-child(3) {
    padding: 0;
  }
  
  .formSubmit {
    transform: scale(0.8);
  }

}