.sidebar {
    top: 50px;
    width: 280px;
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: auto;
  }

  .sidebarStickyContainer {
    position: sticky;
    top: 50px;
    z-index: 99;
  }

  .toggleSidebar {
    border: none;
    display: flex;
    align-items: center;
    margin: 5px 10px 0 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: #eeeeee;
  }

  .toggleSidebar:hover {
    background-color: #d7d7e0;
  }

  .toggleSidebarActive {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: #eeeeee;
    width: 100%;
  }
  .toggleSidebarActive:nth-child(2) {
    cursor: default;
  }

  .toggleSidebarActive:nth-child(1):hover {
    background-color: #d7d7e0;
  }

  .sidebarIcons {
    margin-left: 10px;
  }

  .sidebarActive {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-top: 5px;
    width: 50px;
    background: #eeeeee;
    height: auto;
  }

  .containerTitre {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .titreSidebar {
    padding: 15px 0 10px 10px;
    color: #000;
    font-size: 13.5px;
    font-weight: 500;
    text-align: left;
  }

  .titreSidebarActive {
    display: none;
  }

  .listeStream {
    color: #000;
  }

  .containerFlexSidebar {
    padding: 0 10px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    align-items: center;
    padding-left: 10px;
    position: relative;
  }

  .containerFlexSidebar:hover {
    background: rgba(185, 185, 185, 0.2);
  }

  .profilePicRonde {
    position: relative;
    top: 8px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .streamUser {
    flex-basis: 50%;
    overflow: hidden;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    top: 1px;
    color: #000;
  }

  .streamUserActive {
    display: none;
  }

  .gameNameSidebar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: rgb(83 83 95);
    font-size: 13px;
    margin-left: 39px;
    position: relative;
    top: -4px;
  }

  .gameNameSidebarActive {
    display: none;
  }

  .viewerRight {
    color: rgb(83 83 95);
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    margin-top: 5px;
  }

  .viewerRightActive {
    display: none;
  }

  .redDot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 4px;
    margin-right: 6px;
    background: rgb(235 4 0);
  }

  .containerFlexSidebarActive {
    padding: 0 10px 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    align-items: center;
    padding-left: 10px;
    position: relative;
  }


/* TOOLTIP BUTTON */

.toggleSidebar:after {
  visibility: hidden;
  content: attr(data-text);
  text-align: left;
  border-radius: 2px;
  padding: 4px 10px;
  font-size: 11px;
  font-weight: 100;
  background: #222222;
  color: #FFF;
  left: 250px;
  border-radius: 5px;
  font-size: 13px;
  box-shadow: 5px 5px 5px 1px rgba(54, 54, 54, 0.2);
  width: fit-content;
  position: absolute;
}
  
.toggleSidebar:hover:after {
  visibility: visible;
  -webkit-transition: all 0.2s 0.5s;
  transition: all 0.2s 0.5s;
  z-index: 99;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* TOOLTIP BUTTON ACTIVE */

.toggleSidebarActive:after {
  visibility: hidden;
  content: attr(data-text);
  text-align: left;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 11px;
  font-weight: 100;
  background: #222222;
  color: #FFF;
  left: 55px;
  border-radius: 5px;
  font-size: 13px;
  box-shadow: 5px 5px 5px 1px rgba(54, 54, 54, 0.2);
  width: fit-content;
  text-wrap: nowrap;
  position: absolute;
}
  
.toggleSidebarActive:hover:after {
  visibility: visible;
  -webkit-transition: all 0.2s 0.5s;
  transition: all 0.2s 0.5s;
  z-index: 99;
  overflow: hidden;
}


/* TOOLTIP STREAM */


.containerFlexSidebar:after {
  display: none;
  content: attr(data);
  text-align: left;
  border-radius: 2px;
  padding: 4px 10px;
  font-size: 11px;
  font-weight: 100;
  background: #FFF;
  color: rgb(58, 58, 58);
  left: 250px;
  border-radius: 5px;
  font-size: 13px;
  line-height: 21px;
  box-shadow: 5px 5px 5px 1px rgba(54, 54, 54, 0.2);
  width: 200px;
}

.containerFlexSidebar:hover:after {
  display: flex;
  -webkit-transition: all 0.2s 0.5s;
  transition: all 0.2s 0.5s;
  position:absolute;
  z-index: 99;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* TOOLTIP STREAM ACTIVE  */

.containerFlexSidebarActive:after {
  display: none;
  content: attr(data-text);
  text-align: left;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 11px;
  font-weight: 100;
  background: #FFF;
  color: rgb(58, 58, 58);
  border: 1px solid rgb(230, 230, 230);
  left: 55px;
  border-radius: 5px;
  font-size: 13px;
  box-shadow: 5px 5px 5px 1px rgba(54, 54, 54, 0.2);
  white-space: pre-line;
  overflow: hidden;
}

.containerFlexSidebarActive:hover:after {
  -webkit-transition: all 0.2s 0.5s;
  transition: all 0.2s 0.5s;
  position:absolute;
  z-index: 99;
  width: 220px;
  height: auto;
  display: flex;
  line-height: 20px;
}


  /* MEDIA QUERIES */
  @media screen and (max-width: 1200px) {
    .sidebar {
      width: 50px;
    }
    .titreSidebar {
      display: none;
    }

    .containerFlexSidebar {
      padding: 6px 0;
      margin-left: 10px;
    }

    .streamUser {
      display: none;
    }

    .gameNameSidebar {
      display: none;
    }

    .redDot {
      display: none;
    }

    .viewerRight {
      display: none;
    }

    .containerTitre {
      display: none;
    }
  }