.categoryGlobal {
    display: flex;
    flex-direction: column;
    padding: 0 50px 130px 50px;
    height: auto;
    width: 100%;
    align-items: center;
}


.categoryContainer {
    position: relative;
    top: 60px;
    padding: 20px 0px;
}

.sectionTitle {
    display: flex;
    font-size: 53px;
}

.categoryTagsContainer {
    display: flex;
    flex-direction: column;
}

.tagsContainerCategory {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 30px 0 40px 0;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.gamesTags,
.IrlTags,
.musicTags,
.esportsTags,
.creatifTags  {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    width: 375px;
    height: 15px;
    background-color: #5c16c5;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.gamesTags:hover,
.IrlTags:hover,
.musicTags:hover,
.esportsTags:hover,
.creatifTags:hover  {
    background-color: rgb(122, 77, 190);
}

.filterSection {
    display: flex;
    padding: 0 0 20px 0;
}
.filterSection h3 {
    font-size: 20px;
    color: #5c16c5;
    border-bottom: 2px solid #5c16c5;
    padding-bottom: 5px;
    font-weight: 500;
    cursor: pointer;
}

.filterSection h3:hover {
    color: #7833e0;
}

.flexCategory {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 10px;
}

.carteCategory {
    display: flex;
    flex-direction: row;
    width: 350px;
}

.imgCategory {
    position: relative;
    cursor: pointer;
}
.imgCategory:hover {
    position: relative;
}
.categoryBackground {
    height: 350px;
    background-color: #9146FF;
    width: fit-content;
}

.carteCategoryContainer {
    position: relative;
    transition: all 0.2s;
}

.carteCategoryContainer:hover {
    transform: translateY(-5px) translateX(5px);
}

.carteBodyCategory {
    text-align: left;
}

.categoryTitle {
    font-size: 15px;
    padding: 8px 0;
}

/* MEDIA QUERIES */
  @media screen and (max-width: 1200px) {
    .categoryGlobal {
        padding-left: 50px;
    }
    .categoryTagsContainer {
        padding: 0 0 0 20px;
    }
  }

    @media screen and (max-width: 970px) {
        .tagsContainerCategory {
            display: flex;
            justify-content: center;
        }
    }

    @media screen and (max-width: 635px) {
        .gamesTags,
        .IrlTags,
        .musicTags,
        .esportsTags,
        .creatifTags  {
         width: 90%;
        }
        .flexCategory {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

