.bannerContainer {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    background-color: #451093 !important;
    width: 98.45%;
    height: 60px;
    border-radius: 5px;
    padding: 0 20px;
    z-index: 2;
}

.coolCat {
    width: 40px;
    margin-right: 10px;
}

.bannerTitre {
    color: #fff;
    margin-right: 10px;
    font-size: 19px;
}

.bannerTexte {
    color: #fff;
    font-size: 19px;
    font-weight: 400;
}

.bannerButton {
    position: fixed;
    bottom: 15px;
    right: 50px;
    z-index: 99;
    padding: 8px 9px;
    border-radius: 3px;
    font-size: 13px;
    color: #000;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 78px;
    height: 30px;
    background-color: #fcfcfc;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.bannerButton:hover {
    background-color: #f0eded;
}


.modal-layout-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.modal-login-container {
    position: fixed;
    z-index: 9999;
}

.modal-banner {
    position: absolute;
    width: 520px;
    height: 390px;
    background-color: #FFF;
    border-radius: 5px;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-button {
    position: absolute;
    right: 30px;
    bottom: 20px;
}

@media screen and (max-width: 768px) {
    .bannerContainer {
        display: none;
    }
    .bannerButton {
        display: none;
    }
}
