.containerDecale {
    display: flex;
    flex-direction: column;
    padding: 80px 50px 130px 50px;
    height: 100vh;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.contInfo {
    color: #000;
    display: flex;
    width: 100%;
    margin-top: 5px;
    padding: 10px 20px;
    width: 100%;
}

.logoContainer {
    width: 70px;
    height: 70px;
}

.userLogo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #7b31eb;
    cursor: pointer;
    transition: border 0 ease-in-out;
}
.userLogo:hover {
    border: 3px solid #7b31eb;
    transform: translateX(-1px) translateY(-1px);
}

.userInfo {
    display: flex;
    flex-direction: row;
}

.userName {
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 5px;
    cursor: pointer;
}
.userName:hover {
    border-bottom: 1px solid #7b31eb;
    height: 14px;
    width: fit-content;
    margin-bottom: 8px;

}

.streamTitle {
    font-size: 15px;
    font-weight: 500;
}

.gameTitle {
    font-size: 15px;
    color: #6b2fc5;
    cursor: pointer;
}
.gameTitle:hover {
    color: #7b31eb;
    border-bottom: 1px solid #7b31eb;
    height: 15px;
}

.streamInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
}

.gameInfo {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.tagsInfo {
    background-color: #e7e6e6;
    border-radius: 50px;
    padding: 3.5px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #5e5e5e;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 10px;
}
.tagsInfo:hover {
    background-color: #dbdbdb;
}

.viewer {
    position: fixed;
    display: flex;
    flex-direction: row;
    right: 400px;
    color: rgb(151 19 17);
    gap: 1px;
}
.viewer p {
    font-size: 14.5px;
    font-weight: 500;
    margin-top: 2px;
}
.viewer svg {
    color: rgb(151 19 17);
}

.streamTags {
    position: relative;
    left: 250px;
}

@media screen and (max-width: 1200px) {
    .containerDecale {
        padding-left: 50px;
    }
}

@media screen and (max-width: 900px) {
    .viewer {
        right: 50px;
    }
}

@media screen and (max-width: 768px) {
    .viewer {
        right: 20px;
    }
}
